body {
	background-color: #103328;
}

h5 {
	color:#47535e;
	text-align: center;
	font-family: georgia;
}

p {
	text-align: center;
	color: #E3DCD2;
}

p#p1 {
	margin: auto;
}

p#p2{
	margin: auto;
}

p#p3 {
	margin: auto;
}

section#confirmedcases {
	background-color: rgba(204,139,101,0.90);
	display: block;
	width: 450px;
	height: 140px;
	left: 50%;
	box-sizing: border-box;
	text-align: center;
	color: #E3DCD2;
	margin: 20px auto 10px auto;
	padding: 10px ;
	font-family: courier new;
	border: solid;
	border-width: 2px;
	border-color: #47535e;
}

section#doses {
	background-color: rgba(204,139,101,0.90);
	display: block;
	width: 450px;
	height: 140px;
	left: 50%;
	box-sizing: border-box;
	text-align: center;
	color: #E3DCD2;
	margin: 20px auto 10px auto;
	padding: 10px ;
	font-family: courier new;
	border: solid;
	border-width: 2px;
	border-color: #47535e;
}

section#vaccinated {
	background-color: rgba(204,139,101,0.90);
	display: block;
	width: 450px;
	height: 140px;
	left: 50%;
	box-sizing: border-box;
	text-align: center;
	color: #E3DCD2;
	margin: 20px auto 10px auto;
	padding: 10px ;
	font-family: courier new;
	border: solid;
	border-width: 3px;
	border-color: #47535e;
}

a{
  	text-decoration: none;
  	color: #103328;
	background-image: url('../images/globe.png');
	background-size: 785px;
	background-repeat: no-repeat;
	background-position:  50% 110px;
	margin: auto;
	padding: auto;
}

h6{
	color: #E3DCD2;
	text-align: center;
	font-family: georgia;
}


nav#back {
	text-align: center;
	margin: 30px;
	width: 100px;
	height: 20px;
	background-color: #E3DCD2;
}